body {
    padding-top: 0;
    padding-bottom: 2em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20%;
    padding-right: 0;
    padding-top:3%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 30em;
}

.language-btn {
    background-color: #222;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.2em;
    height: 2em;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 0.2em solid red;
}

.bootbox-body {
    color: black;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0.2em solid #ccc;
    background-color: #f1f1f1;
}

    /* Float the list items side by side */
    ul.tab li {
        float: left;
    }

        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 0.4em 0.6em;
            text-decoration: none;
            transition: 0.3s;
            font-size: 1.2em;
        }

            /* Change background color of links on hover */
            ul.tab li a:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {
                background-color: #ccc;
            }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0.4em 0.8em;
    border: 0.2em solid #ccc;
    border-top: none;
}

.box {
    width: 3em;
    height: 0.9em;
}

.container-1 {
    width: 1.2em;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

    .container-1 input#search {
        width: 30em;
        height: 5em;
        background: white;
        border: none;
        font-size: 10pt;
        float: left;
        color: #63717f;
        padding-left: 45em;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em;
        -webkit-transition: background .55s ease;
        -moz-transition: background .55s ease;
        -o-transition: background .55s ease;
        transition: background .55s ease;
    }

        .container-1 input#search::-webkit-input-placeholder {
            color: #65737e;
        }

        .container-1 input#search:-moz-placeholder { /* Firefox 18- */
            color: #65737e;
        }

        .container-1 input#search::-moz-placeholder { /* Firefox 19+ */
            color: #65737e;
        }

        .container-1 input#search:-ms-input-placeholder {
            color: #65737e;
        }

    .container-1 .icon {
        position: absolute;
        top: 50%;
        margin-left: 3em;
        margin-top: 3em;
        z-index: 1;
        color: #4f5b66;
    }

    .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
        outline: none;
        background: #ffffff;
    }

.container-2 {
    width: 30em;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

    .container-2 input#search {
        width: 5em;
        height: 5em;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #262626;
        padding-left: 35em;
        -webkit-border-radius: 5em;
        -moz-border-radius: 5em;
        border-radius: 5em;
        color: #fff;
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
    }

        .container-2 input#search::-webkit-input-placeholder {
            color: #65737e;
        }

        .container-2 input#search:-moz-placeholder { /* Firefox 18- */
            color: #65737e;
        }

        .container-2 input#search::-moz-placeholder { /* Firefox 19+ */
            color: #65737e;
        }

        .container-2 input#search:-ms-input-placeholder {
            color: #65737e;
        }

    .container-2 .icon {
        position: absolute;
        top: 50%;
        margin-left: 3em;
        margin-top: 3em;
        z-index: 1;
        color: #4f5b66;
    }

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 100%;
}

.stergeImage {
    width: 2em;
    height: 2em;
}

.buttonImage {
    width: 2.2em;
    height: 2.2em;
}

.wrappingTypeImage {
    width: 3em;
    height: 3em;
}

.leftDownInfo {
    position: relative;
}

.leftDownInfoTable {
    position: fixed;
    bottom: 0;
    font-size: 1em;
    padding-top: 1em;
}

.leftDownInfoTableImage {
    height: 2em;
    width: 2em;
}

.leftMenuImage {
    height: 3em;
    width: 3em;
}

.arrowImage {
    width: 2.1em;
    height: 2.1em;
}

.rightHelp {
    float: right;
}

.rightHelpImage {
    width: 3em;
    height: 3em;
    background: url(../Images/manual.svg) no-repeat top left;
}

/* For the manual*/
.image-manual {
    box-shadow: 0px 0px 10px #00ff90;
    width: 100%;
}

.image-manual-medium {
    box-shadow: 0px 0px 10px #00ff90;
    width: 50%;
    margin: auto;
    display: block;
}

.image-manual-small {
    box-shadow: 0px 0px 10px #00ff90;
    width: 30%;
    margin: auto;
    display: block;
}

.image-manual-medium-small {
    box-shadow: 0px 0px 10px #00ff90;
    width: 20%;
    margin: auto;
    display: block;
}

.image-manual-extra-small {
    box-shadow: 0px 0px 10px #00ff90;
    width: 10%;
    margin: auto;
    display: block;
}

.big-text-area {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

/* For the ul tag in manual*/

.ul-manual {
    list-style-type: circle;
}

/* For the upper section navigation elements*/

.upper-section-nav-image {
    width: 2.5em;
    height: 2.5em;
}

.upper-section-nav-image2 {
    width: 3.5em;
    height: 2.5em;
}

.upper-section-nav-ul {
    list-style: none;
    background-color: #2e2d2d;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 4.5em;
}

.upper-section-nav-li {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 15em;
    height: 15em;
    border-bottom: 1px solid #888;
}

.upper-section-nav-a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

    .upper-section-nav-a:hover {
        background-color: #009ac9;
        color: white;
    }

    .upper-section-nav-a.active {
        background-color: #fff;
        color: #444;
        cursor: default;
    }

@media screen and (min-width: 600px) {
    .upper-section-nav-li {
        padding: 0.6em;
        margin-right: 0.2em;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.1em;
        display: inline-block;
        margin-right: -4px;
    }


    /* Options 2 - Float
  .nav li {
	float: left;
  }
  .nav ul {
	overflow: auto;
	width: 600px;
	margin: 0 auto;
  }
  .nav {
	background-color: #444;
  }
  */
}

@media (max-height: 880px) {

    .leftMenuImage {
        height: 30px;
        width: 30px;
    }

    h3, .h3 {
        font-size: 1.4em;
    }

    .upper-section-nav-image {
        width: 2.2em;
        height: 2.2em;
    }

    .upper-section-nav-image2 {
        width: 3.2em;
        height: 2.2em;
    }

    .arrowImage {
        width: 1.8em;
        height: 1.8em;
    }


    .leftDownInfoTableImage {
        height: 25px;
        width: 25px;
    }

    .side-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .upper-section-nav-ul {
        height: 4.2em;
    }
}

@media (max-height: 760px) {

    .leftMenuImage {
        height: 28px;
        width: 28px;
    }

    h3, .h3 {
        font-size: 1.3em;
    }

    .upper-section-nav-image {
        width: 1.9em;
        height: 1.9em;
    }

    .upper-section-nav-image2 {
        width: 2.9em;
        height: 1.9em;
    }

    .leftDownInfoTableImage {
        height: 24px;
        width: 24px;
    }

    .meineNav > li > a {
        font-size: 1.1em;
    }

    .arrowImage {
        width: 1.5em;
        height: 1.5em;
    }

    .leftDownInfoTable {
        font-size: 1em;
    }

    .side-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media (max-height: 660px) {

    .leftMenuImage {
        height: 25px;
        width: 25px;
    }

    h3, .h3 {
        font-size: 1.2em;
    }

    .upper-section-nav-image {
        width: 1.6em;
        height: 1.6em;
    }

    .upper-section-nav-image2 {
        width: 2.6em;
        height: 1.6em;
    }

    .arrowImage {
        width: 1.2em;
        height: 1.2em;
    }


    .meineNav > li > a {
        font-size: 12px;
    }

    .leftDownInfoTableImage {
        height: 20px;
        width: 20px;
    }

    .leftDownInfoTable {
        font-size: 13px;
    }

    .side-nav > li > a {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media (min-width: 1400px) and (max-width: 1550px) {
    .last-nav {
        margin-right: 30px;
    }
}

@media (max-width: 1450px) {
    .meineNav > li > a {
        display: inline-block;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) {
    .last-nav {
        margin-right: 50px;
    }
}

@media (min-width: 1250px) and (max-width: 1299px) {
    .last-nav {
        margin-right: 60px;
    }
}

@media (min-width: 1200px) and (max-width: 1249px) {
    .last-nav {
        margin-right: 70px;
    }
}
